<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="PostgreSql10"/>
    <!--<provider name="sqlServer4.0" />-->
    <!--<dataSource name="SKABODB" connectionString="Provider=SQLOLEDB;Password=85332389;Persist Security Info=True;User ID=sa;Initial Catalog=SKABO;Data Source=."/>-->
    <dataSource name="SKABODB" connectionString="Provider=SQLNCLI10;Server=.;Database=SKPCB;Uid=sa;Pwd=85332389;"/>
  </database>

  <sqlMaps>
    <!--
    <sqlMap embedded="SK_ABO.SqlMap.JudgerSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.UserSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.GelSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.BJSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.TraceSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.LogicSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.PlcParameterSql.xml, SK_ABO" />-->
    <sqlMap embedded="SK_ABO.SqlMap.pg-JudgerSql.xml, SK_ABO" />
    <sqlMap embedded="SKABO.Judger.SqlMap.pg-judger-sqlFile.xml, SKABO.Judger" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-UserSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-GelSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-BJSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-TraceSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-LogicSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-PlcParameterSql.xml, SK_ABO" />
    <sqlMap embedded="SK_ABO.SqlMap.pg-SysConfig.xml, SK_ABO" />
  </sqlMaps>
</sqlMapConfig>